<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/20ce5e8387.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <title>K-MERCH</title>
</head>
<body>
    
    <header class="start">
        <p class="start__text">
            K-merch is located in South Korea, the origin of K-pop!
        </p>
        <h5 class="start__account">Login / Registrer </h5>
        <h4 class="start__mon">USD $</h4>
    </header>

    <section class="search">
        <h1>K-MERCH</h1>
        <input class="search__box" type="text" placeholder="Search a band or product">
        <button class="search__btn">
            <img class="seacrh__btn search__btn--lupa" src="/data/lupa-8.png" alt="lupa" >
        </button>
        <div class="search__imag">
            <img src="/data/iconoD.jpg" alt="Icono varita de deseos">
        </div>

        <div class="search__carrito">
            <a href="/cart">
                <button class="search__btncar"> 
                    <img src="/data/iconoC.jpg" alt="Icono del carrito de compras"> 
                </button>
            </a>
            
            <button class="search__notibtncar">
                0
            </button>
        
        </div>

       
    </section>

      <section>
        <div class="ham">
            <button class="ham__BtnHamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav class="Mainnav">
            <a href="/" class="Mainnav__link">
                <img src="/data/home.png" alt="Home">
            </a>
            <a href="#" class="Mainnav__link">
                <img src="/data/lines.png" alt=""> Groups
            </a>
            <a href="#" class="Mainnav__link">New</a>
            <a href="/store" class="Mainnav__link">Album</a>
            <a href="#" class="Mainnav__link">Accesory</a>
            <a href="#" class="Mainnav__link"> Fan Ligth</a>
        </nav>
    </section>

    {{{ body }}}

    <footer class="foot">
        <p>Copyrigth K-Merch Inc. All rigths reeserved.</p>
    </footer>

    <script src="/scripts/cart.js"></script>

</body>
</html>