<section class="error404">
    <div class="error404__text">
        <h1 class="error404__404"> 404</h1>
        <h2 class="error404__ops">OOOOoopsss...</h2>
        <h3 class="error404__sorry">Sorry, this page isn't available.</h3>
        <p class="error404__pag">The page you request could not found.</p>
        <p class="error404__worry">Don't worry and return to home.</p>
    </div>
    <img class="error404__gif" src="/data/error.gif" alt="">
   <a href="/">
       <button class="error404__btnHome">GO HOME</button>
   </a> 
</section>