<div class="con">
    <a class="con__link" href="/store">Continue shopping</a>  
</div>

<article class="carrito">
<section class="cart">
        <h2 class="cart__title">Shopping cart</h2>
        <div class="cart__carritoList">
            
        </div>   
</section>

<section class="resume">
    <div class="resume__text">
        <h3 class="resume__title">Total</h3>
        <p class="resume__p">$ <span class="resume__total">0</span></p>
    </div>
    <a href="/checkout">
        <button class="resume__btncheckPage">Proceed to Checkout </button>
    </a>
</section>
</article>


