
{{#if showError}}
<section class="error">
    <img class="error__ani" src="/data/error2.gif" alt="">
    <h3 class="error__adv">¡ERROR!</h3>
    <p class="error__text">It looks like something went wrong. Please try again!</p>
</section>
{{/if}}
<section class="check">
    <div class="check__shipping">        
        <h2 class="check__title">Shipping details</h2>
         <form class="check__options"  action="/checkout" method="POST">
            <label>
                Name
                <input class="check__name" type="text" placeholder="Your Name" name="firstname" required="true">
            </label>

            <label >
                Last name
                <input class="check__Lastname" type="text" placeholder="Your Last Name" name="lastName" required="true">
            </label>

            <label >
                Country
                <input class="check__country" type="text" placeholder="Your country" name="country" required="true">
            </label>

            <label >
                Address
                <input class="check__add" type="text" placeholder="Your address" name="address" required="true">
            </label>

            <label >
                City
                <input class="check__city" type="text" placeholder="Your city" name="city" required="true">
            </label>

            <label >
                State
                <input class="check__state" type="text" placeholder="Your state" name="state" required="true">
            </label>

            <label >
                Zip
                <input class="check__zip" type="number" placeholder="+ Number" name="zip" required="true">
            </label>

            <h2 class="check__titlePay">Payment information</h2>

        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-discover"></i>
        <i class="fab fa-cc-diners-club"></i>
        <i class="fab fa-cc-amex"></i>

            <label>
                Cardholder's name
                <input class="check__cName" type="text" placeholder="Name on card" name="cardName" required="true">
            </label>

            <label>
                Card No.
                <input class="check__no" type="number" placeholder="•••• •••• •••• ••••" name="cardNo" required="true">
            </label>

            <label>
                Expiry date
                <input class="check__exp" type="text" placeholder="MM/YY" name="expireDate" required="true">
            </label>

            <label>
                CVC
                <input class="check__cvc" type="password" placeholder="Enter 3 digits" name="cvc" required="true">
            </label>
            
            <button class="check__btn">Send</button>

            <input class="check__list" type="text" name="products">

         </form>
    </div>

</section>

<script src="/scripts/cart.js"></script>