<section class="confirm">
    <img class="confirm__congrats" src="/data/congrats.gif" alt="">
    <h2 class="confirm__title">¡Your orders have been placed!</h2>
    <img class="confirm__hola" src="/data/hola.gif" alt="">
    <p class="confirm__text" >Great news, your order is on its way!! You can check our your shipment details or track your order by clicking on the button below.</p>
    <button class="confirm__btnCon">TRACK YOUR ORDER</button>
</section>

<div class="cont">
    <a class="cont__link" href="/store">Continue shopping</a>
</div>