//estilo de la seccion de filtro
.filter {
    width: 320px;
    background: white;
    border-radius: 40px;
    padding: 10px 20px 15px 35px;
    font-family: $primary-font;
    margin-left: $LeftSpace;
    margin-top: 115px;
    &__link {
        text-decoration: none;
    }
    &__title {
        font-size: 36px;
        border-bottom: 2px solid rgb(91, 111, 165);
        color: $primary-color;
    }
    &__tiCate {
        font-size: $fontSizeFilterSub;
        color: $colorFilter;
    }
    &__listCate {
        font-size: $fontSizeFilterlist;
        color: $colorListFilter;
        list-style-type: none;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(91, 111, 165);
    }
    &__ticompa {
        font-size: $fontSizeFilterSub;
        color: $colorFilter;
    }
    &__listCompa {
        font-size: $fontSizeFilterlist;
        color: $colorListFilter;
        list-style-type: none;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(91, 111, 165);
    }
    &__tiDate {
        font-size: $fontSizeFilterSub;
        color: $colorFilter;
    }
    &__listDate {
        font-size: $fontSizeFilterlist;
        color: $colorListFilter;
        list-style-type: none;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(91, 111, 165);
    }
}

.store {
    display: flex;
    flex-wrap: wrap;
    margin: -865px 20px 20px 440px;
    &__sort {
        background-color: $primary-color;
        color: white;
        font-family: $primary-font;
        font-size: 20px;
        width: 890px;
        height: 60px;
        margin-bottom: 90px;
        margin-left: 30px;
        //margin: 20px 0px 20px 470px;
        border-radius: 20px;
        text-align: end;
    }
    &__options {
        background: white;
        display: block;
        font-size: 16px;
        font-family: $primary-font;
        font-weight: 400;
        color: $primary-color;
        //line-height: 1.3;
        padding: .4em 1.4em .3em .8em;
        width: 250px;
        max-width: 100%;
        //margin: 0;
        border: 2px solid $colorFilter;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .03);
        border-radius: 50px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('/data/flecha.png');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
}

.product {
    background: white;
    width: 263px;
    height: 500px;
    padding: 20px;
    margin: 0px 20px 20px 30px;
    text-align: center;
    color: $primary-color;
    &__link {
        text-decoration: none;
        color: $primary-color;
    }
    &__img {
        width: 221px;
        height: 221px;
        box-shadow: 2px 4px 10px $primary-color;
        margin-bottom: -10px;
    }
    &__img:hover {
        box-shadow: 2px 4px 10px $colorFilter;
    }
    &__title {
        font-family: $second-font;
        font-size: 23px;
    }
    &__title:hover {
        text-decoration: underline;
    }
    &__group {
        font-family: $primary-font;
        font-size: 20px;
        margin: -10px;
    }
    &__compa {
        font-family: $primary-font;
        font-size: 15px;
    }
    &__date {
        font-family: $primary-font;
        font-size: 13px;
        margin-top: -10px;
    }
    &__price {
        font-family: $second-font;
        font-size: 24px;
        color: red;
        margin-top: -5px;
    }
    &__cart {
        background: $primary-color;
        font-family: $primary-font;
        font-size: 17px;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 13px;
        margin-top: -5px;
    }
}

//top right bottom left
.barNext {
    background-color: $primary-color;
    color: white;
    font-family: $primary-font;
    font-size: 20px;
    width: 890px;
    height: 60px;
    margin: 20px 0px 50px 470px;
    border-radius: 20px;
    text-align: end;
    &__text {
        padding: 17px 50px;
    }
}