.info {
    position: relative;
    background-color: white;
    width: 1320px;
    height: 800px;
    margin: 80px 60px;
    border-radius: 50px;
    padding-top: 110px;
    &__img {
        width: 500px;
        height: 500px;
        margin: 0px 110px 10px 110px;
        object-fit: contain;
        object-position: center;
        display: block;
    }
    &__thumbs {
        height: 70px;
        width: 486px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(91, 111, 165, 0.3);
        margin: 0px 10px 0px 117px;
    }
    &__thumb {
        width: 50px;
        height: 50px;
        margin: 35px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
        cursor: pointer;
        &--active {
            border: 2px solid #274FC8;
            padding: 5px;
        }
    }
}

.infoPro {
    position: absolute;
    top: 45px;
    right: 100px;
    &__title {
        font-family: $second-font;
        color: $primary-color;
        font-size: 60px;
    }
    &__subTitle {
        font-family: $primary-font;
        color: $primary-color;
        font-size: 30px;
        margin-top: -60px
    }
    &__price {
        font-family: $second-font;
        font-size: 50px;
        color: red;
        margin-top: -10px
    }
    &__intro {
        font-family: $primary-font;
        color: $primary-color;
        font-size: 20px;
        width: 550px;
        height: 225px;
        margin-top: -20px
    }
    &__btn {
        width: 150px;
        height: 40px;
        font-family: $primary-font;
        color: white;
        border-radius: 13px;
        font-size: 17px;
        border: none;
    }
    &__btn--C {
        background: $primary-color;
        position: absolute;
        left: 800px;
        bottom: 71px;
        width: 150px;
        height: 40px;
        font-family: $primary-font;
        color: white;
        border-radius: 13px;
        font-size: 17px;
        border: none;
    }
    &__btn--B {
        background: $primary-color;
        position: absolute;
        left: 1000px;
    }
    &__btn--B:hover {
        box-shadow: 2px 4px 10px $colorFilter;
    }
}

.descrip {
    margin-left: 120px;
    position: relative;
    &__title {
        width: 1200px;
        font-family: $second-font;
        font-size: 35px;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
    }
    &__text {
        font-family: $primary-font;
        font-size: 23px;
        color: $primary-color;
        font-weight: 500;
    }
    &__especi {
        width: 560px;
        height: 330px;
        background-color: white;
        border: 3px solid #5B6FA4;
        border-radius: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        font-family: $primary-font;
        color: $primary-color;
        font-size: 20px;
    }
    &__list {
        list-style-type: none;
        margin: 55px 20px;
        line-height: 1.8;
    }
    &__track {
        width: 560px;
        height: 330px;
        background-color: white;
        border: 3px solid #5B6FA4;
        border-radius: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        font-family: $primary-font;
        color: $primary-color;
        font-size: 20px;
        position: absolute;
        top: 23.3%;
        left: 650px;
    }
    &__tTitle {
        margin: 35px 60px 5px 60px;
    }
    &__list2 {
        font-size: 20px;
        line-height: 1.3;
        margin-left: 70px;
    }
}

//top right bottom left
.infoimg {
    width: 900px;
    margin-left: 280px;
    margin-bottom: 100px;
}