//VARIABLES GLOBALES
$primary-color: #101939;
$primary-font: 'Dosis',
sans-serif;
$second-font: LemonMilk,
serif;
$LeftSpace: 60px;
$breakpoint-respo: 414px;
//VARIABLES DEL FILTRO
$colorFilter: rgb(101, 120, 160);
$colorListFilter: rgb(165, 179, 211);
$fontSizeFilterSub: 21px;
$fontSizeFilterlist: 18px;
//VARIABLES DEL CHECKOUT
$hInput: 32px;
$borderInput: 13px;
$paddingLeft: 15px;
$fontSinput: 13px;
* {
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    margin: 0px;
    background-color: #EDEDED;
    padding-bottom: 50px;
    min-height: 100vh;
}

@font-face {
    font-family: LemonMilk;
    src: url(../data/LemonMilk.otf);
}

@import 'mainHeader';
@import 'mainSearch';
@import 'mainMenu';
@import 'mainpublicity';
@import 'mainSpecification';
@import 'mainFullSpecification';
@import 'mainNewLetter';
@import 'mainFooter';
@import 'mainChoose';
@import 'mainGallery';
@import 'mainListProduct';
@import 'mainProduct';
@import 'mainCheckout';